#app,
body,
html {
  height: 100%;
}

body {
  background-color: var(--n-color);
}

//重置样式
.anticon {
  svg {
    vertical-align: initial;
  }
}

a {
  color: #1890ff;
  background: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: color 0.2s ease;
}

a:active,
a:hover {
  outline-width: 0;
}

a:hover {
  color: #40a9ff;
}

a:active {
  color: #096dd9;
}

a:active,
a:hover {
  outline: 0;
  text-decoration: none;
}
